{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block page_title %}New Post{% endblock %}

{% block content %}
    <section class="page-container">
        <div class="row">
            <div class="col-12">
                <div class="row text-center">
                    <div class="col-12 offset-sm-1 col-sm-10 offset-lg-2 col-lg-8 white-text">
                        <h1 class="post-title">New Blog Post</h1>
                        <br>
                        <form method="POST" class="post-form">{% csrf_token %}
                            {{ form | as_bootstrap }}
                            <button type="submit" class="btn btn-custom sm-btn-sizing">Post</button>
                        </form>
                        <!-- Created a button to go back one page using javascript and the users history -->
                        <a class="btn btn-custom sm-btn-sizing" href="javascript:history.back()">Cancel</a>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}