{% extends 'base.html' %}

{% block page_title %}{{ post.title }}{% endblock %}

{% block content %}
    <section class="page-container">
        <div class="row post">
            <div class="col-12">
                <div class="card text-center">
                    <div class="card-header">
                        <h2 class="post-title">{{ post.title }}</h2>
                        <p class="post-date small">
                            {{ post.published_date }}
                        </p>
                        {% if user == post.author %}
                            <a class="text-link" href="{% url 'post_edit' pk=post.pk %}">Edit Post &nbsp<i class="fas fa-pencil-alt"></i></a>
                            &nbsp
                            <a class="text-link" href="{% url 'post_remove' pk=post.pk %}">Delete Post &nbsp<i class="far fa-trash-alt"></i></a>
                        <br>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p class="post-content card-text">{{ post.text|linebreaksbr }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 offset-sm-1 col-sm-10 offset-md-2 col-md-8 white-text text-center">
                        <br>
                        <a class="btn btn-custom lg-btn-sizing" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
                        <br>
                        <br>
                        <hr>
                        <h3>Comments</h3>
                        {% for comment in post.comments.all %}
                            <hr>
                            <div class="comment">
                                <div class="post-date small">{{ comment.created_date }}</div>
                                <p class="post-stats">{{ comment.author }}</p>
                                <p>{{ comment.text|linebreaks }}</p>
                            </div>
                        {% empty %}
                            <p>No comments here yet!</p>
                        {% endfor %}
                    </div>
                </div>
                <br>
            </div>
        </div>
    </section>

{% endblock %}