{% extends 'base.html' %}

{% block content %}
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="post-content">
                Welcome
            </h2>
            <p class="white-text">
                ...to the wonderful world of my everyday mediocrity! Where I write about many things, ranging from my
                everyday struggles, or a particular series on netflix that I really rate, to game reviews or a coding
                breakthrough that I recently had. All this and much, much more! <br>
                <br>
                Below are my most recent posts, so please feel free to read and leave your comments!
                However for those of you wanting to see the other posts i've made,
                just click <a class="text-link font-italic" href="{% url 'all_posts' %}">here</a> to see every entry
                i've made to date!
            </p>
        </div>
    </div>
    {% for post in posts %}
        <div class="row post">
            <div class="col-12">
                <div class="card text-center">
                    <div class="card-header">
                        <h4 class="post-title"><a class="post-link" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
                        <p class="post-date small">
                            {{ post.published_date }}
                        </p>
                        <p class="post-author small">
                            <span class="small">Written by:</span> {{ post.author }}
                        </p>
                    </div>
                    <div class="card-body">
                        <p class="post-content card-text">{{ post.text|linebreaksbr }}</p>
                        <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-custom">Read more...</a>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="post-stats">
                            <i class="far fa-comment"></i> {{ post.comments.count }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
{% endblock %}